In [2]:
import turtle as t
a1=t.Turtle()
a1.pencolor('Red')
for i in range(200):
    a1.forward(i)
    a1.left(91)
a1.done()

Terminator:

In [3]:
from turtle import *
colors = ['blue','green','red','yellow','purple','orange']
for i in range(360):
    pencolor(colors[i%6])
    width(i/100 + 1)
    forward(i)
    left(59)

Terminator:

In [4]:
from turtle import *
pencolor('orange')
pensize(10)
fillcolor('blue')
begin_fill()
circle(50)
end_fill()

In [ ]:
from turtle import *
pensize(5)
pencolor('Red')
for i in range(15):
    circle(10*i)

In [ ]:
# Design Olympics Logo
from turtle import *
pensize(6)
colors = ['Blue','black','red']
for i in range(-1,2):
    penup()
    pencolor(colors[i%3])
    goto(i*110,0)
    pendown()
    circle(50)
colors1=["","yellow","","green"]
for i in range(-1,2,2):
    penup()
    pencolor(colors1[i])
    goto(i*55,-55)
    pendown()
    circle(50)

In [1]:
from turtle import *
pensize(10)
for i in range(-2,3):
    penup()
    goto(i*100,0)
    pendown()
    circle(65)

Terminator:

In [2]:
from turtle import *
bgcolor('Green')
color('Black')
fillcolor('Blue')
penup()
goto(-250,25)
begin_fill()
forward(500)
left(90)
forward(50)
left(90)
forward(500)
left(90)
forward(50)
end_fill()

pensize(5)
penup()
goto(-175,75)
pendown()
setheading(45)
forward(75)
setheading(0)
forward(250)
setheading(315)
forward(75)
setheading(90)
penup()
goto(0,75)
pendown()
forward(50)
end_fill()

pensize(4)
fillcolor('Black')
penup()
goto(-100,0)
pendown()
begin_fill()
circle(25)
end_fill()

pensize(4)
fillcolor('Black')
penup()
goto(150,0)
pendown()
begin_fill()
circle(25)
end_fill()

Terminator:

### Idiomatic Python

In [6]:
#Looping over a list normal method
li=[1,2,3,4,5]
for i in range(len(li)):
    print(li[i],end=' ')
print()
#Pythonic/Idiomatic Approach
for i in li:
    print(i,end=' ')

1 2 3 4 5
1 2 3 4 5

In [8]:
#Looping over a list normal method
li=[1,2,3,4,5]
for i in range(len(li)-1,-1,-1):
    print(li[i],end=' ')
print()
#Pythonic/Idiomatic Approach
for i in reversed(li):
    print(i,end=' ')

5 4 3 2 1
5 4 3 2 1

In [10]:
#Looping over a list normal method
li=[10,7,1,14,11]
for i in range(len(li)):
    print(i,'-->',li[i])
print()
#Pythonic/Idiomatic Approach
for i,a in enumerate(li):
    print(i,'-->',a)

0 --> 10
1 --> 7
2 --> 1
3 --> 14
4 --> 11

0 --> 10
1 --> 7
2 --> 1
3 --> 14
4 --> 11

In [12]:
#Looping over a list normal method
li=[8,7,1,4,9]
a= [1,2,3,4,5,6,7,8]
n= min(len(li),len(a))
for i in range(n):
    print(li[i],' ',a[i])
print()

#Pythonic/Idiomatic Approach
for i,a in zip(li,a):
    print(i,' ',a)

8   1
7   2
1   3
4   4
9   5

8   1
7   2
1   3
4   4
9   5

In [19]:
#Pythonic/Idiomatic Approach
li=[8,7,1,4,9]
print(sorted(li))
sorted(li,reverse=True)

[1, 4, 7, 8, 9]

[9, 8, 7, 4, 1]

### Lambda Functions
- Anonymous fuctions or a function without a name
- Defined on python using lambda keyword
- Syntax : lambda arg : expression

In [21]:
a = lambda x : x*x
print(a(10))

100

In [25]:
li = [1,2,3,4,5,6,7]
lam_li = list(filter(lambda x : (x%2 ==0),li))
print(lam_li)

[2, 4, 6]

In [29]:
li = [1,2,3,4,5,6,7,8]
map_list = list(map(lambda x : x*2,li))
print(map_list)

[2, 4, 6, 8, 10, 12, 14, 16]

In [ ]:
def sumList(li):
    s = 0
    for i

### Pandas

In [37]:
import pandas as pd
internal1 = {'s1':35, 's2':45, 's3':55}
internal1=pd.Series(internal1)
print(internal1)

s1    35
s2    45
s3    55
dtype: int64

In [38]:
final = {'Internal 1':internal1}
final = pd.DataFrame(final)
print(final)

    Internal 1
s1          35
s2          45
s3          55

In [39]:
final.values

array([[35],
       [45],
       [55]], dtype=int64)

In [40]:
for row in final.values:
    print('Internal 1-',row[0])

Internal 1- 35
Internal 1- 45
Internal 1- 55

In [44]:
final.loc['s4'] = [20]
final

    Internal 1
s1          35
s2          45
s3          55
s4          20

In [48]:
filePath = 'DataFiles/Income.csv'
def readCsvData(filePath):
    return pd.read_csv(filePath)
df=readCsvData(filePath)
print(df)

       GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  62993  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528

In [49]:
def printDataFrameColumns(df):
    li = []
    columns = df.columns
    for i in columns:
        li.append(i)
    return li
printDataFrameColumns(df)

['GEOID',
 'State',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

In [52]:
filePath = 'DataFiles/RegularSeasonCompactResults.csv'
def readCsvData(filePath):
    return pd.read_csv(filePath)
df=readCsvData(filePath)
print(df)

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
5         1985      25   1218      79   1337      78    H      0
6         1985      25   1228      64   1226      44    N      0
7         1985      25   1242      58   1268      56    N      0
8         1985      25   1260      98   1133      80    H      0
9         1985      25   1305      97   1424      89    H      0
10        1985      25   1307     103   1288      71    H      0
11        1985      25   1344      75   1438      71    N      0
12        1985      25   1374      91   1411      72    H      0
13        1985      25   1412      70   1397      65    N      0
14        1985      25   1417      87   1225      58    H      0
15        1985      26   1116      65   1368      62    H      0
16        1985      26   1120      92   1391      50    H      0
17        1985      26   1135      65   1306      60    A      0
18        1985      26   1143      58   1388      53    H      0
19        1985      26   1153      50   1184      48    H      0
20        1985      26   1165      47   1159      40    A      0
21        1985      26   1171      55   1216      52    H      0
22        1985      26   1173      76   1134      56    H      0
23        1985      26   1177      59   1296      58    H      0
24        1985      26   1193      79   1265      76    A      0
25        1985      26   1196     106   1416      55    H      0
26        1985      26   1206      95   1137      77    H      0
27        1985      26   1210      79   1149      66    H      0
28        1985      26   1211      64   1102      59    A      0
29        1985      26   1234      76   1114      47    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145259    2016     130   1452      69   1328      67    N      0
145260    2016     131   1114      72   1418      65    N      0
145261    2016     131   1138      64   1103      61    N      0
145262    2016     131   1163      77   1396      62    N      0
145263    2016     131   1167      57   1308      54    N      0
145264    2016     131   1201      68   1361      63    N      0
145265    2016     131   1214      81   1354      69    N      0
145266    2016     131   1218      64   1253      60    N      0
145267    2016     131   1242      81   1452      71    N      0
145268    2016     131   1246      93   1208      80    N      0
145269    2016     131   1272      74   1408      54    N      0
145270    2016     131   1277      64   1268      61    N      0
145271    2016     131   1292      55   1330      53    N      0
145272    2016     131   1314      61   1438      57    N      0
145273    2016     131   1332      88   1428      57    N      0
145274    2016     131   1345      76   1276      59    N      0
145275    2016     131   1371      69   1437      67    N      0
145276    2016     131   1372      82   1394      60    N      0
145277    2016     131   1380      54   1238      53    N      0
145278    2016     131   1386      82   1173      79    N      0
145279    2016     131   1392      80   1436      74    H      0
145280    2016     131   1401      71   1261      38    N      0
145281    2016     131   1419      82   1426      71    N      0
145282    2016     131   1433      76   1172      54    N      0
145283    2016     131   1451      62   1285      59    N      0
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

In [53]:
df.shape

(145289, 8)

In [54]:
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [55]:
df.columns.tolist()

['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc', 'Numot']

In [56]:
df.describe()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Numot
count,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000
mean,2001.574834,75.223816,1286.720646,76.600321,1282.864064,64.497009,0.044387
std,9.233342,33.287418,104.570275,12.173033,104.829234,11.380625,0.247819
min,1985.000000,0.000000,1101.000000,34.000000,1101.000000,20.000000,0.000000
25%,1994.000000,47.000000,1198.000000,68.000000,1191.000000,57.000000,0.000000
50%,2002.000000,78.000000,1284.000000,76.000000,1280.000000,64.000000,0.000000
75%,2010.000000,103.000000,1379.000000,84.000000,1375.000000,72.000000,0.000000
max,2016.000000,132.000000,1464.000000,186.000000,1464.000000,150.000000,6.000000

In [105]:
df.max()

Season    2016
Daynum     132
Wteam     1464
Wscore     186
Lteam     1464
Lscore     150
Wloc         N
Numot        6
dtype: object

In [106]:
df['Lteam'].max()

1464

In [107]:
df['Lteam'].min()

1101

In [108]:
df[(df['Wscore']>170) & (df['Daynum']>60)]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
17867    1989      92   1258     181   1109     150    H      0
24970    1991      68   1258     186   1109     140    H      0

In [113]:
math.fact(6)

NameError: name 'math' is not defined